body {
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to right, #FFFFFF , #787878 , #000000);
}

.title {
    text-align: center;
    font-size: 100px;

}

.container {
    margin: 100px auto;
    text-align: center;
}

button{
    transition: background-color 300ms;
    background-color: #000000;
    color: white;
    border: none;
    padding: 18px 10px;
    font-size: 1.2em;
    width: 180px;
    margin: 10px;
}
button:hover {
    background-color: rgb(44, 44, 44);
    color: white;
}

p {
    font-size: 5em;
    color: black;
}